#button {
    display: block;
    margin: auto;
}

.block {
    width: 1000px;
    display: inline-block;
    text-align: center;
    display: block;
    margin: auto;
}

#informationBlock {
    background-color:palegoldenrod;
    padding-top: 5px;
    padding-bottom: 10px;
}

#notAnswered {
    color: blue;
}

#answerBlock {
    background-color:cornflowerblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

#member {
    color: grey;
}

#hall {
    /* width: 1000px; */
    border: 1px solid #333;
}
